@media only screen and (max-width: 600px) {
    .container{
        width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    }
    .hero{
    flex-direction: column;
    margin: 0 auto;
    min-width: 300px;
    max-width: 590px;
    }
  }